@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* INDEX */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

header {
  background-color: rgb(0, 140, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

header img {
  width: 200px;
  margin: 0 auto;
}

body {
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: rgb(218, 112, 74);
  padding: 10px 0;
  margin: 0;
}

nav ul li {
  flex-grow: 1;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

.produto-link {
  text-decoration: none;
}

.products-container {
  align-items: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.product {
  position: relative;
  width: 18%;
  height: 430px;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.product-title {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  margin-top: 10px;
  text-decoration: none;
}

.product img {
  width: 170px;
  height: 170px;
}

.product-price {
  color: rgb(218, 112, 74);
  text-decoration: none;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  margin: auto;
}

.botao_comprar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgb(13, 185, 13);
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  border-radius: 8px;
  padding: 6px 20px;
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
}

.products-container2 {
  align-items: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.product2 {
  position: relative;
  width: 18%;
  height: 430px;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.product2 img {
  width: 200px;
  height: 200px;
}

.product-title2 {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  margin-top: 10px;
  text-decoration: none;
}

.products-container3 {
  align-items: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
  width: 100%;
}

.product3 {
  position: relative;
  width: 18%;
  height: 430px;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.product3 img {
  width: 150px;
  height: 150px;
}

.product-title3 {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  margin-top: 10px;
  text-decoration: none;
}

footer {
  background-color: rgb(0, 140, 255);
  padding: 12px;
  text-align: center;
  font-size: 17px;
  position: relative;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px; 
}

.contact-info,
.about-us {
  flex-basis: calc(50% - 20px);
}

.footer-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

/* PAGINAS_PRODUTOS */

.container_img_do_produto {
  position: relative;
  width: 600px;
  height: 600px;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4%;
  margin-left: 6%;
}

.imgproduto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto; 
}

.infoproduto_comprar {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  right: 6%;
  top: 45%;
}

.tituloproduto {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  margin: 0;
  text-align: left;
}

.vendido_por {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 1px;
  text-align: left;
}

.botao_comprar_produto {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(15, 211, 15);
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  border-radius: 8px;
  padding: 10px 100px;
  margin-bottom: 10px;
  margin-left: 0px;
  cursor: pointer;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.produtopreco {
  color: rgb(218, 112, 74);
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 45px;
  margin-bottom: 10px;
  display: inline-block;
}

.descricao{
  width: 750px;
  padding-bottom: 100px;
}

.descricao h1{
  display: flex;
  text-align: left;
  padding-left: 6%;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #444343;
  font-weight: bold;
}

.descricao h2{
  display: flex;
  text-align: left;
  padding-left: 6%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #4d4d4d;
  font-weight: bold;
}

.topicos_descricao{
  display: block;
  font-size: 20px;
  text-align: left;
  padding-top: 30px;
  padding-left: 50px;
}

/* PAGINAS DE SUPORTE */

.suporte_container {
  margin-bottom: 70px;
}

input[type="reset"] {
  background-color: #ccc;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.form-row {
  margin-bottom: 20px;
  text-decoration: none;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  width: 10%;
  padding: 5px;
}

textarea{
  width: 40%;
  padding: 5px;
}

select {
  width: 11%;
  padding: 5px;
}

input[type="checkbox"] {
  margin-right: 5px;
  text-decoration: none;
}

.resposta_mensagem {
  display: block;
  text-align: center;
  padding: 10px 10px;
  width: 800px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  margin-bottom: 25vh;
  margin-top: 60px;
}

/* PAGINAS DE COMPRA */

.header_laranja
h4{
  background-color: rgb(218, 112, 74);
  padding: 8px;
  margin-top: 0;
  font-size: 33px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

h5{
  font-size: 40px;
}

h6{
  font-size: 32px;
}

h7{
  font-size: 30px;
}

.titulo_pagcompra {
  text-align: left;
  padding-left: 20px;
  font-size: 30px;
}

.dados_container {
  text-align: left;
  padding-left: 1%;
  padding-bottom: 60px;
}

.form-row2 {
  margin-bottom: 20px;
  text-decoration: none;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text2"],
input[type="email"][name="digite_seu_email"] {
  width: 20%;
  padding: 5px;
}

textarea {
  width: 40%;
  padding: 5px;
}

select {
  width: 11%;
  padding: 5px;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 2px;
  text-decoration: none;
  cursor: pointer;
}

input[type="submit"][name="concluir_pagamento"] {
  background-color: rgb(15, 211, 15);
  width: 10%;
  height: 40px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

input[type="reset"] {
  background-color: #ccc;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.container {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  margin-bottom: 80px;
}

.mensagem-final {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
