@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* INDEX */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

header {
  background-color: rgb(0, 140, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

header img {
  width: 200px;
  margin: 0 auto;
}

body {
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: rgb(218, 112, 74);
  padding: 10px 0;
  margin: 0;
}

nav ul li {
  flex-grow: 1;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

.produto-link {
  text-decoration: none;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.product {
  position: relative;
  width: 300px;
  height: 480px;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.product-title {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  margin-top: 10px;
  text-decoration: none;
}

.product img {
  width: 200px;
  height: 200px;
}

.product-price {
  color: rgb(218, 112, 74);
  text-decoration: none;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  margin: auto;
}

.botao_comprar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: green;
  color: black;
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 10px;
}

.products-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.product2 {
  position: relative;
  width: 300px;
  height: 480px;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.product2 img {
  width: 200px;
  height: 200px;
}

.product-title2 {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  margin-top: 10px;
  text-decoration: none;
}

.botao_comprar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: green;
  color: black;
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 10px;
}

.products-container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.product3 {
  position: relative;
  width: 300px;
  height: 480px;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.product3 img {
  width: 200px;
  height: 200px;
}

.product-title3 {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  margin-top: 10px;
  text-decoration: none;
}

.botao_comprar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: green;
  color: black;
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 10px;
}

.footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-content .contact-info,
.footer-content .about-us {
  flex: 1;
  margin: 0 10px;
}

.footer-bottom {
  background-color: #ddd;
  padding: 10px;
}

/* PAGINAS_PRODUTOS */

.container_img_do_produto {
  position: relative;
  width: 600px;
  height: 600px;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4%;
  margin-left: 6%;
}

.imgproduto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto; 
}

.infoproduto_comprar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 40%;
  right: 7%;
  margin: 4%;
}

.tituloproduto {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  margin: 0;
  text-align: left;
}

.vendido_por {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 1px;
  text-align: left;
}

.botao_comprar_produto {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  border-radius: 8px;
  padding: 10px 100px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.produtopreco {
  color: rgb(218, 112, 74);
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 45px;
  margin-bottom: 10px;
  display: inline-block;
}

