@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

header {
  background-color: rgb(0, 140, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

header img {
  width: 200px;
  margin: 0 auto; 
}


body {
  text-align: center;
}

h1{
  font-family: 'Montserrat', sans-serif;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: rgb(218, 112, 74);
  padding: 10px 0;
  margin: 0;
}

nav ul li {
  flex-grow: 1;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

div h1 {
  flex-grow: 1;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.product {
  width: 300px;
  height: 480px;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.product img {
  width: 200px;
  height: 200px;
}

.product-title {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  margin-top: 10px;
  text-decoration: none;
}

.products-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
}

.product2 {
  width: 300px;
  height: 480px;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.product2 img {
  width: 200px;
  height: 200px;
}

.product-title2 {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  margin-top: 10px;
  text-decoration: none;
}

.products-container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
}

.product3 {
  width: 300px;
  height: 480px;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.product3 img {
  width: 200px;
  height: 200px;
}

.product-title3 {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  margin-top: 10px;
  text-decoration: none;
}

.produto-link{
    text-decoration: none;
}
  